<!doctype html>
<html>
  <head data-th-fragment="head">
    <title data-th-text="${@environment.getProperty('app.web.title')}">Title</title>
    <link
      rel="stylesheet"
      type="text/css"
      data-th-href="@{__${basepath}__/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css" data-th-href="@{__${basepath}__/css/layout.css}" />
    <script th:inline="javascript">
      window.ENV = window.ENV || {};
      // JS string will be properly quoted/escaped by Thymeleaf
      const clientId = /*[[${clientId}]]*/ '';
      window.ENV.clientId = clientId;
      const clientSecret = /*[[${clientSecret}]]*/ '';
      window.ENV.clientSecret = clientSecret;
    </script>
  </head>
  <body>
    <!-- ************************************************************************************** -->
    <nav class="navbar navbar-dark mb-4" data-th-fragment="navbar">
      <div class="container">
        <span class="h1" data-th-text="${@environment.getProperty('app.web.title')}"></span>
        <span class="ms-auto"
          >Umgebung:
          <strong data-th-text="${@environment.getProperty('app.env')}">xxx</strong></span
        >
      </div>
    </nav>
    <!-- ************************************************************************************** -->
    <footer class="mt-3 py-3" data-th-fragment="footer">
      <script
        src=""
        data-th-src="@{__${basepath}__/webjars/bootstrap/js/bootstrap.min.js}"
      ></script>
      <div class="container">
        <span class="h4" data-th-text="${@environment.getProperty('spring.application.name')}"
          >PushMFA-simulator</span
        >
        <span
          class="ms-3"
          style="color: #d9d3c7"
          data-th-text="${@environment.getProperty('spring.application.version')}"
          >0.0</span
        >
      </div>
    </footer>
  </body>
</html>
