<!doctype html>
<html lang="en">
  <head data-th-insert="~{fragments/snippets :: head}"></head>
  <script type="module" th:src="@{__${basepath}__/js/enroll.bundle.js}"></script>
  <body>
    <nav data-th-replace="~{fragments/snippets :: navbar}"></nav>
    <div class="container" id="push-messages"></div>
    <div class="container">
      <h1 class="my-3">Enrollment</h1>
      <p class="lead">
        Simulate the enrollment process for push-based multi-factor authentication. Provide the
        necessary details to enroll a device.
      </p>

      <div id="info" class="alert alert-info d-flex align-items-start gap-2 mt-4 mb-4" role="alert">
        <div class="fs-5 lh-1">🧙</div>
        <div class="w-100">
          <div class="fw-semibold d-flex align-items-center justify-content-between">
            <span>Why is the initial Push-MFA enrollment signed?</span>

            <button
              class="btn btn-sm btn-outline-info ms-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#pushMfaInfo"
              aria-expanded="false"
              aria-controls="pushMfaInfo"
            >
              Details
            </button>
          </div>
          <div id="pushMfaInfo" class="collapse mt-2">
            <p>
              During the initial enrollment, the client does not yet possess a trusted
              authentication factor.
            </p>
            <p>
              Signing the enrollment response ensures that the process cannot be manipulated or
              replayed by a third party.
            </p>
            <p>
              It provides cryptographic proof that the enrollment was issued by a trusted backend
              and is bound to this specific user and device.
            </p>
            <hr />
            <p>
              To support this, the button on this page generates a JWK key pair and downloads it as
              a JSON file.
            </p>
            <p>
              This file must then be placed into the designated key location of the mock system so
              that enrollment signatures can be validated correctly.
            </p>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Enrollment Form</h5>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="token" class="form-label">
              <b>Keycloak Token (JWS):</b>
            </label>
            <textarea
              id="token"
              class="form-control"
              rows="4"
              placeholder="eyJhbGciOi..."
            ></textarea>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="iam-url" class="form-label">
                <b>URL IdentityManagement:</b>
              </label>
              <input
                id="iam-url"
                type="text"
                class="form-control"
                placeholder="e.g. https://myIam/main/auth/realms/demo"
              />
              <small class="form-text text-muted">e.g. http://localhost:8080/realms/demo</small>
              <small class="form-text text-muted">e.g. https://myapp.local/realms/demo</small>
            </div>
            <div class="col-md-3 mb-3">
              <label for="context" class="form-label">
                <b>Enter context [optional]:</b>
              </label>
              <input id="context" type="text" class="form-control" placeholder="e.g. deviceXY" />
            </div>
            <div class="col-md-3 mb-3">
              <label for="provider-type" class="form-label">
                <b>Select provider type [optional]:</b>
              </label>
              <select id="provider-type" class="form-control">
                <option value="log">log</option>
                <option value="fcm">fcm</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">
              <b>Actions:</b>
            </label>
            <div class="mb-4">
              <button id="enrollBtn" class="btn btn-primary me-2">Enroll Frontend</button>
              <br /><small class="text-muted"
                >Does only works if mock is deployed on same host (CORS)!</small
              >
              <br /><small class="text-muted"
                >rsa-jwk.json must be placed in the mock's key folder! (static/keys)</small
              >
              <br /><small class="text-muted"
                >Simulates the frontend enrollment process for Push-MFA, handling device
                registration on the client side.</small
              >
            </div>
            <div class="mb-4">
              <button id="enrollBtnBackend" class="btn btn-primary me-2">Enroll Backend</button>
              <br /><small class="text-muted"
                >* Simulates the backend enrollment process for Push-MFA, processing the enrollment
                on the server side.</small
              >
            </div>
            <div>
              <button id="createJwkBtn" class="btn btn-secondary">
                Generate JWK (for signing the response)
              </button>
              <br /><small class="text-muted"
                >Generates a JWK key pair for signing the enrollment response, ensuring
                cryptographic integrity.</small
              >
            </div>
          </div>
        </div>
        <div class="alert alert-info d-flex align-items-start gap-2 mt-4 mb-0" role="alert">
          <div class="fs-5 lh-1">ℹ️</div>
          <div>
            <div class="fw-semibold">Note:</div>
            <div class="small">
              Optional: ?token=...&context=...&url=-... in URL automatically fills the fields.
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Answer</h5>
        </div>
        <div class="card-body">
          <pre id="out" class="result bg-light p-3 rounded">No interactions yet.</pre>
        </div>
      </div>

      <details open>
        <summary><b>Configuration</b></summary>
        <pre class="result bg-light p-3 rounded" id="cfg"></pre>
      </details>
    </div>
    <footer data-th-replace="~{fragments/snippets :: footer}"></footer>
  </body>
</html>
