<!doctype html>
<html lang="en">
  <head data-th-insert="~{fragments/snippets :: head}"> </head>
  <script type="module" th:src="@{__${basepath}__/js/info.bundle.js}"></script>
  <body>
    <!-- <input type="hidden" id="basepath" data-th-value="@{__${basepath}__}" /> -->
    <nav data-th-replace="~{fragments/snippets :: navbar}"></nav>
    <div class="container" id="push-messages"></div>
    <div class="container" style="margin-top: 12px">
      <p class="lead">
        Welcome to the Keycloak Push MFA Extension Simulator. This tool mocks the push-based
        multi-factor authentication process for development and testing purposes.
      </p>

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 h-100">
            <div class="card-header">
              <h5 class="card-title">Enrollment</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                This part simulates the process of registering a device for push-based multi-factor
                authentication. Users can enroll their devices to receive push notifications for MFA
                challenges.
              </p>
              <a th:href="@{__${basepath}__/enroll}" class="btn btn-primary">Go to Enrollment</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 h-100">
            <div class="card-header">
              <h5 class="card-title">Confirm Login</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                This simulates the completion of the login process after receiving a push
                notification. It handles the verification and finalization of the MFA step. When a
                valid request is made to /complete, it triggers a push notification from Keycloak to
                the enrolled device.
              </p>
              <a th:href="@{__${basepath}__/confirm}" class="btn btn-primary"
                >Go to Confirm Login</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer data-th-replace="~{fragments/snippets :: footer}"></footer>
  </body>
</html>
